<body>    
    <h3>{{viewTitle}}</h3>

    <form action="/sins/edit" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{sins._id}}">
        <div class="form-group">
            <label>Nomor Surat</label>
            <input type="text" class="form-control" name="nomor_surat" value="{{sins.nomor_surat}}">
        </div>
        <div class="form-group">
            <label>Alamat Penerima</label>
            <input type="text" class="form-control" name="alamat_penerima" placeholder="Alamat Penerima" value="{{sins.alamat_penerima}}">
            <div class="text-danger">
                {{sins.namaError}}
            </div>
        </div>
            <div class="form-group">
            <label>Tanggal</label>
            <input type="date" class="form-control" name="tanggal" placeholder="Tanggal" value="{{sins.tanggal}}">
        </div>
            <div class="form-group">
            <label>Perihal</label>
            <input type="text" class="form-control" name="perihal" value="{{sins.perihal}}"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Ubah</button>
            <a class="btn btn-secondary" href="/sins/list"><i class="fa fa-list-alt"></i> Lihat Daftar</a>
            <a class="btn btn-secondary" target='_blank' href="/sins/print"><i class="fas fa-print"></i> Cetak</a>
        </div>
    </form>
</body>
